{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "useTabs": false,
    "parser": "babel",
    "endOfLine": "lf",
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
      {
        "files": ["*.blade.php"],
        "options": {
          "parser": "blade",
          "tabWidth": 4,
          "sortHtmlAttributes": "code-guide",
          "wrapAttributes": "force-expand-multiline"
        }
      }
    ],
    "vscodeIntegration": true,
    "eslintIntegration": true
  }
