html[data-bs-theme=dark] {
  --ct-primary: #318791;
  --ct-text-color: #FFFFFF;
  --bs-topnav-color:#3A444E;
  --bs-topnav-icon: #FFFFFF;
  --bs-sidenav-color: #3A444E;
  --ct-body-color: #343A40;
}

html[data-bs-theme=light] {
  --ct-primary: #318791;
  --ct-text-color: #000000;
  --bs-topnav-color: #FFFFFF;
  --bs-topnav-icon: #000000;
  --bs-sidenav-color: #313A46;
  --ct-body-color: #F9FAFD;
}
$primary: #318791;

.btn-primary {
  color: #fff !important;
}

@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/remixicon/fonts/remixicon.css';
@import '/node_modules/filepond/dist/filepond.css';
@import '/node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

